# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
crash.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
venv/
.env*
*.egg-info/

# Docker
localstack/
**/localstack/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
